<ion-view view-title="登录" hide-nav-bar='true'>
    <ion-content>

        <h1>登录</h1>
        <div class="list list-inset">

            <div class="item">
                <a ng-click="$ionicGoBack()" nav-transition="none" >返回</a>
            </div>
            <div class="item">
                <a ng-click=" location.href='https://appficaos.cfmmc.com/indexnew?brokerId=0127&openType=9&checkBrokerIdFlag=false'" nav-transition="none" >返回</a>
            </div>
            <div class="item">
                Raiders of the Lost Ark
            </div>
            <div class="item">
                Raiders of the Lost Ark
            </div>

        </div>
    </ion-content>
</ion-view>
