<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content drag-content="false">

        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <a class="button button-icon button-clear ion-person" href="#/app/login">
                </a>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view>
        </ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">账户交易</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">

                <div class="item item-divider">
                    合约报价
                </div>

                <a menu-close class="item item-icon-left" href="#/app/tabs/quote/all">
                    <i class="icon ion-email"></i>
                    全部
                </a>

                <a menu-close class="item item-icon-left" href="#/app/tabs/quote/main">
                    <i class="icon ion-email"></i>
                    主力
                </a>


                <div class="item item-divider">
                    账户交易
                </div>

                <a menu-close class="item item-icon-left item-icon-right" href="#/app/tabs/position">
                    <i class="icon ion-chatbubble-working"></i>
                    持仓
                    <i class="icon ion-ios-telephone-outline"></i>
                </a>

                <a menu-close class="item item-icon-left" href="#/app/tabs/position">
                    <i class="icon ion-mic-a"></i>
                    交易
                    <span class="item-note">
                      Grammy
                    </span>
                </a>

                <a menu-close class="item item-icon-left" href="#/app/tabs/history">
                    <i class="icon ion-person-stalker"></i>
                    资金历史
                    <span class="badge badge-assertive">0</span>
                </a>

                <a menu-close class="item item-icon-left" href="#/app/transaction">
                    <i class="icon ion-person-stalker"></i>
                    银期转账
                </a>
            </div>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
