<ion-view view-title="成交">
    <ion-content class="transaction">
        <div class="list" align="center">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="开始时间">
                </label>
                <div>
                    &nbsp;<i class="icon ion-arrow-right-c"></i>&nbsp;
                </div>
                <label class="item-input-wrapper">
                    <input type="text" placeholder="结束时间">
                </label>
                <button class="button button-small">
                    查询
                </button>
            </div>


            <div class="item item-divider row" >
                <div class="col">时间</div>
                <div class="col">事件</div>
            </div>

            <div class="item row row-center">
                <div class="col col-50">
                   <span>2014-11-12</span>
                    <br>
                    <span>11:20:30</span>
                </div>
                <div class="col col-50" align="left">
                    开仓单32442成交订单<br/>成交价4233
                </div>
            </div>

            <div class="item row row-center">
                <div class="col col-50">
                    <span>2014-11-12</span>
                    <br>
                    <span>11:20:30</span>
                </div>
                <div class="col col-50" align="left">
                    开仓单32442成交订单<br/>成交价4233
                </div>
            </div>

            <div class="item row row-center">
                <div class="col col-50">
                    <span>2014-11-12</span>
                    <br>
                    <span>11:20:30</span>
                </div>
                <div class="col col-50" align="left">
                    开仓单32442成交订单<br/>成交价4233
                </div>
            </div>

            <div class="item row row-center">
                <div class="col col-50">
                    <span>2014-11-12</span>
                    <br>
                    <span>11:20:30</span>
                </div>
                <div class="col col-50" align="left">
                    开仓单32442成交订单<br/>成交价4233
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
