<ion-modal-view class="register">
    <ion-header-bar>
        <div class="buttons left">
            <button class="button button-open" ng-click="closeModal()">返回</button>
        </div>
        <h1 class="title">注册</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">

            <div class="item">
                <a ng-click="registerModal.hide()" >返回登录</a>
            </div>
            <div class="item">
                <a onclick="window.location.replace('https://appficaos.cfmmc.com/indexnew?brokerId=0127&openType=9&checkBrokerIdFlag=false');" nav-transition="none" >开户</a>
            </div>


        </div>
    </ion-content>
</ion-modal-view>
